<html>
<head>
<title>SIMPLE QUIZ APP</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>

$(document).ready(function(){
    $(b1).click(function(){
        $(".rb").show();
        $(".rb").attr('disabled', 'true');
    });
});

    function getanswers()
    {
        document.getElementById('UserAnswers').innerHTML = "" ;
        var e = document.getElementsByTagName('input') ;
        for(i=0; i<=e.length; i++)
        {
            if(e[i].type == 'radio')
            {
                if(e[i].checked)
                {
                    document.getElementById('UserAnswers').innerHTML += "Q "+e[i].name +" The Answer You Selected were : " + e[i].value+"<br>" ;
                }
            }
        }
    }

</script>
</head>
<body>
<div class= "container">
<h1 class="text-danger mt-3" >Simple Quiz App Using Python, Django, JavaScript and jQuery</h1>
<hr>
    <div class = "container">
        {% for i in exam %}
        
        <table>
        <tr>
            <td class="text-primary">{{ i.id }} ) {{ i.Question }} </td>
        </tr>
        <tr>
            <td >   <input type="radio" class="rb" name= {{ i.id }} id="Option1" value="{{ i.Option1 }}"  >{{ i.Option1 }}</td>
        </tr>
        <tr>
            <td >   <input type="radio" class="rb" name= {{ i.id }} id="Option2" value="{{ i.Option2 }}"  >{{ i.Option2 }}</td>
        </tr>
        <tr>
            <td >   <input type="radio" class="rb" name= {{ i.id }} id="Option3" value="{{ i.Option3 }}"  >{{ i.Option3 }}</td>
        </tr>
        <tr>
            <td >   <input type="radio" class="rb" name= {{ i.id }} id="Option4" value="{{ i.Option4 }}"  >{{ i.Option4 }}</td>
        </tr>
        <tr>
            <td >   <label id="corans" class="rb" style="display:none ; color : green" ><b> {{ i.Corrans }} </b></label>  </td>
        </tr>
        
        </table>
        <hr>
        
        {% endfor %}
        
        <input type="submit" class="btn btn-success" name='Submit' id="b1" onclick="getanswers()" >
        <br>
        <b id ="UserAnswers"></b>
        <br>
        <br>

    </div>
</hr>
</div>
</body>
</html>